%% -*- erlang -*-

{deps, [
    % let it always be the first
    {lager, "2.0.1",
        {git, "git://github.com/basho/lager", {tag, "2.0.1"}}},
    {echo_json, "1.0.*",
        {git, "git@github.com:EchoTeam/echo_json.git", {branch, "master"}}},
    {mod_gen, "0.1.*",
        {git, "git@github.com:EchoTeam/mod_gen.git", {tag, "v0.1.0"}}},
    {fbi_common, "0.0.1",
        {git, "git@github.com:EchoTeam/fbi_common.git", {branch, master}}},
    {erpc, "1.0.0",
        {git, "git@github.com:EchoTeam/erpc.git", {branch, "master"}}}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
